html, body {
	background-color: black;
}
.Desk_Menu:not([disabled]):hover {
    background-color: transparent;
    border-bottom: 2px solid white;
    border-radius: 0px;
}

md-input-container .md-input {
    width: auto;
}
.mdi {
    height: auto;
    width: auto;
    
}
md-icon {
    height: auto;
    width: auto;
}

.phone {
	
   /* position: relative;
    left: 50%;*/
    /*margin-right: 15px;*/
  /*  border: 2px inset black;
     background-color: white; 
    border-radius: 100%;*/

}

.about_list {
	text-align: center;
	font-size: 16px;
	color: red;
	line-height: 25px;
	list-style: none;

}

.md-button.md-primary.md-raised {
	width: 100px;
}


/*Color the filter options on the product page*/
md-input-container.md-default-theme label, md-input-container label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder {
	color: white;
}

md-input-container.md-default-theme .md-input, md-input-container .md-input {
	border-color: #00BCD4;
}

md-select.md-default-theme .md-select-value, md-select .md-select-value {
	border-color: #00BCD4;
}

md-select.md-default-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder {
	color: white;
}
/**/



img {
	border: 2px solid white;
}

md-content {
	background-color: black;
}

.center {
	text-align: center;
	display: inline-block;
}

.about_text {
	font-size: 18px;
}

.cicon {
	color: #00BCD4;
	font-size: 1.3em;
}

.socButton {
	background-color: #00BCD4;
}

.product {
	background-color: transparent;
}

.product.ng-enter, .product.ng-move {
  transition: 0.4s all;
  opacity: 0;
}

.product.ng-enter.ng-enter-active, .product.ng-move.ng-move-active {
  opacity: 1;
}

.product.ng-leave {
  animation: 0.4s fade_cmrenovation;
}

md-input-container .md-input {
  width: auto;
}

@keyframes fade_cmrenovation {
  from { opacity: 1; }
  to { opacity: 0; }
}

/*
md-toolbar {
    height: 200px;
}*/

md-toolbar {
	height: 150px;
}
.sidenavbutton {
	font-size: 16px;
	line-height: 50px;
	display: inline-block;
	color: white;
	/*margin-left: 25px;*/
}
md-sidenav {
	background-color: rgb(0,188,212);
}
.location {
	font-size: 4em;
	padding: 10px;
}
.location_card {
	width: 810px;
	height: 300px;
}
.location_font {
	text-align: center;
	font-size: 18px;
}
.contact_home {
	margin: auto;
	top: 20px;
}

.ng-binding {
	color: white;
}

md-select-menu.md-default-theme md-content md-option:not([disabled]):focus, md-select-menu md-content md-option:not([disabled]):focus, md-select-menu.md-default-theme md-content md-option:not([disabled]):hover, md-select-menu md-content md-option:not([disabled]):hover{
	background-color: #00BCD4;
}

md-select-menu md-content md-option[selected]{
	    color: rgb(0,188,212);
}

md-select-menu.md-default-theme md-content, md-select-menu md-content {
	background-color: black;
}

md-select-menu md-content md-option:not([disabled]):hover {
	background-color: #00BCD4;
}

.mdi-arrow-right-bold-circle {
	text-align: right;
	float: right;
	display: none;
}
.sidnavbuttonrows {
	border-bottom: 2px solid #005661;
	height: 80px;
}

/*.sidnavbuttonrows:hover {
	border-bottom: 2px solid transparent;
	background-color: #005661;
}*/

.nv {
	padding: 10px;
}

/* Mobile CSS */
@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .location {
    	font-size: 10px;
    }
    md-toolbar {
	height: 50px;
	}

	.Desk_Menu {
		display: none;
	}
	.location_font {
		font-size: 14px;
	}
	#adv {
		margin-top: 0px;
		padding: 5px;
	}
	.contact_home {
	margin: auto;
	top: 10px;
	}
	.about_text {
		font-size: 14px;
		text-align: center;
	}
	.about_list {
		text-align: center;
	}
	.layout-row > .flex-30 {
		max-width: 100%;
		max-height: 100%;
		flex:  1 1 50%;
	}
	.md-title {
		display: none;
	}
	#filterText {
		display: none;
	}
	.location_card {
		height: 300px;
	}
}