<md-sidenav class="md-sidenav-left" md-whiteframe ="12" md-component-id="left" md-is-open="sidenavOpen" ng-cloak primary>

	<div>

		<h1 style="margin: 10px;">CMRENOVATIONS</h1>

		<md-button class="sidenavbutton" ui-sref="home">
		<md-icon class="mdi mdi-home"></md-icon>
			Home
		</md-button>
		<br />

		<md-button class="sidenavbutton" ui-sref="about">
		<md-icon class="mdi mdi-account"></md-icon>
			About
		</md-button>
		<br />

		<md-button class="sidenavbutton" ui-sref="services">
		 <md-icon class="mdi mdi-apps"></md-icon>
			Services 
		</md-button>
		<br />

		<md-button class="sidenavbutton" ui-sref="product">
		  <md-icon class="mdi mdi-border-inside"></md-icon>
			Products 
		</md-button>
		<br />

		  <md-button class="sidenavbutton" ui-sref="contact">
		   <md-icon class="mdi mdi-message"></md-icon>
		   Contact 
		   </md-button> 
	</div>

</md-sidenav>

<ui-view></ui-view>

