<md-sidenav class="md-sidenav-left" md-whiteframe ="12" md-component-id="left" md-is-open="sidenavOpen">

	<div style="text-align: center;">
		<md-button class="sidenavbutton">
		<md-icon class="mdi mdi-home" style="color: white;"></md-icon>
			Home
		</md-button>
		<br />

		<md-button class="sidenavbutton">
		<md-icon class="mdi mdi-account" style="color: white;"></md-icon>
			About Us
		</md-button>
		<br />

		<md-button class="sidenavbutton">
		 <md-icon class="mdi mdi-apps" style="color: white;"></md-icon>
			Services 
		</md-button>
		<br />

		<md-button class="sidenavbutton">
		  <md-icon class="mdi mdi-border-inside" style="color: white;"></md-icon>
			Products 
		</md-button>
		<br />

		  <md-button class="sidenavbutton">
		   <md-icon class="mdi mdi-message" style="color: white;"></md-icon>
		   Contact 
		   </md-button> 
	</div>

</md-sidenav>

