<md-content layout-padding>
<form>
<h2>Contact Us</h2>
<md-input-container>
    <label for="first">First Name</label>
    <md-icon class="mdi mdi-account"></md-icon><input type="text" id="first"
           md-autofocus> 
</md-input-container>
<br />
<md-input-container>
	<label for="last">Last Name</label>
	<md-icon class="mdi mdi-account"></md-icon><input type="text" id="last"
			md-autofocus>
</md-input-container>
<br />
<md-input-container>
    <label for="email">Email</label>
    <md-icon class="mdi mdi-email"></md-icon><input type="text" id="email"
          md-autofocus>
</md-input-container>
<br />
<md-input-container>
	<label for="subject">Subject</label>
	<md-icon class="mdi mdi-message"></md-icon><input type="text" id="subject" md-autofocus>
</md-input-container>
<br />
<md-input-container>
	<label for="message">Message</label>
	<md-icon class="mdi mdi-message"></md-icon><input type="textarea" id="message">
</md-input-container>
<br />
<md-button class="md-primary">
    Send
</md-button>    
    
</form>
<!--Social Media Links-->
<md-button><a href="www.facebook.com">
<md-icon class="mdi mdi-facebook"></md-icon></a>
</md-button>
<md-button><a href="www.twitter.com">
<md-icon class="mdi mdi-twitter"></md-icon></a>
</md-button>
<md-button><a href="www.instagram.com">
<md-icon class="mdi mdi-instagram"></md-icon></a>
</md-button>
</md-content>    
    