<?php
  header('Access-Control-Allow-Origin: *');

  header('Access-Control-Allow-Methods: GET, POST');

  header("Access-Control-Allow-Headers: X-Requested-With");

  ?>

<md-content layout-align="center center" layout="row" layout-padding>
<md-card class="md-whiteframe-z2">
  <md-card-content>

<h2 style="color: black;" layout-align="center center" layout="row" layout-padding>Get in touch with the team!</h2>
 <md-content layout-padding  style="background-color: white;">

<form style="margin: auto; right: 10px;" ng-submit="processForm()" method="post">

<md-input-container style="text-align: left;">
    <label for="first" style="color: black;">First & Last Name: </label>
    <md-icon class="mdi mdi-account cicon"></md-icon>
    <input type="text" id="first" name="name" ng-model="formData.name" required md-autofocus> 
</md-input-container>

<br />

<md-input-container flex>
    <label for="email" style="color: black;">Email: </label>
    <md-icon class="mdi mdi-email cicon"></md-icon>
    <input type="email" id="email"
          name="email" ng-model="formData.email" required md-autofocus>
</md-input-container>

<br />

<md-input-container flex>
	<label for="message" style="color: black;">Message: </label>
	<md-icon class="mdi mdi-message cicon"></md-icon>
  <textarea type="textarea" id="message" placeholder="Hey! I would like to discuss further business with you. When can we chat?" ng-model="formData.message" columns="4" required> </textarea>
</md-input-container>
<br />

<md-button class="md-primary" style="color: black;" type="submit" 
 aria-label="Save Project">
    Send
</md-button>    
    
</form>
<!--Social Media Links-->
<md-button class="socButton" href="{{ facebook }}" target="_blank" ng-click="linkModelFunc(facebook)">
<md-icon class="mdi mdi-facebook"></md-icon>
</md-button>
<!-- <md-button class="socButton"><a href="www.twitter.com">
<md-icon class="mdi mdi-twitter"></md-icon></a>
</md-button> -->
<md-button class="socButton" href="{{ instagram }}" target="_blank" ng-click="linkModelFunc(instagram)">
<md-icon class="mdi mdi-instagram"></md-icon>
</md-button>
</md-content>    
    
    
  
  </md-card-content>
</md-card>
</md-content>

