<md-content layout-align="center center" layout="row" layout-padding>
<md-card>
  <md-card-content>

<h2 style="color: black;" layout-align="center center" layout="row" layout-padding>Get in touch with the team!</h2>
 <md-content layout-padding  style="background-color: white;">

<form style="margin: auto; right: 15px;">

<md-input-container style="text-align: left;">
    <label for="first" style="color: black;">First Name</label>
    <md-icon class="mdi mdi-account cicon"></md-icon><input type="text" id="first"
           md-autofocus> 
</md-input-container>

<md-input-container>
	<label for="last" style="color: black;">Last Name</label>
	<md-icon class="mdi mdi-account cicon"></md-icon><input type="text" id="last"
			md-autofocus>
</md-input-container>
<br />

<md-input-container>
    <label for="email" style="color: black;">Email</label>
    <md-icon class="mdi mdi-email cicon"></md-icon><input type="text" id="email"
          md-autofocus>
</md-input-container>

<md-input-container>
	<label for="subject" style="color: black;">Subject</label>
	<md-icon class="mdi mdi-message cicon"></md-icon><input type="text" id="subject" md-autofocus>
</md-input-container>
<br />

<md-input-container>
	<label for="message" style="color: black;">Message</label>
	<md-icon class="mdi mdi-message cicon"></md-icon><input type="textarea" id="message">
</md-input-container>
<br />

<md-button class="md-primary" style="color: black;">
    Send
</md-button>    
    
</form>
<!--Social Media Links-->
<md-button class="socButton" href="{{ facebook }}" target="_blank" ng-click="linkModelFunc(facebook)">
<md-icon class="mdi mdi-facebook"></md-icon>
</md-button>
<!-- <md-button class="socButton"><a href="www.twitter.com">
<md-icon class="mdi mdi-twitter"></md-icon></a>
</md-button> -->
<md-button class="socButton" href="{{ instagram }}" target="_blank" ng-click="linkModelFunc(instagram)">
<md-icon class="mdi mdi-instagram"></md-icon>
</md-button>
</md-content>    
    
    
  
  </md-card-content>
</md-card>
</md-content>

