<div>
    <a ng-href="http://cincinnatiremodelingshow.com/" layout-align="center center" id="adv" layout="row" layout-padding>
      <img ng-src="images/advertise.jpeg" id="adv" class="md-class-image" alt="advertise"> 
    </a>
</div>

<md-content layout="row" layout-align="center center" layout-padding>

  <md-card class="location_card" layout-align="center center" layout="row" layout-padding>
  <md-card-content>
  <div class="card-content">
      
      <h3 class="Location location_font" layout-align="center center" layout="row">Located at the Duke Energy Convention Center 
      </h3>
      
      <p class="location_font md-card-content" layout-align="center center" layout="row"><span class="location_font">525 Elm Street<span><br/> Cincinnati, Oh 45202</p>

      <p class="location_font md-card-content" layout-align="center center" layout="row"><span class="location_font">Friday : 9/30 12-7 <br> Saturday: 10/1 10-7 <br> Sunday: 10/2 11-5</p>
      
      <p class="location_font md-card-content">Stop by Booth 142 for your chance to win a <strong>Free Installation</strong> for a patio cover or sunroom!</p>

     
      <br />
      <md-button class="md-raised md-primary contact_home" layout-align="center center" layout="row" ui-sref="contact" flex>Contact Us</md-button>
  </div>
  </md-card-content>

  </md-card>

</md-content>



