<h1 layout="row" layout-align="center center" layout-padding style="margin: auto; color: white;">Services!</h1>

<md-content layout="row" layout-align="center center" layout-padding>
	<img ng-src="images/homeimage2.jpg">
</md-content>

<md-content layout="row" layout-align="center center" layout-padding>
	<md-card layout="row" layout-align="center center" layout-padding>
	<span></span>
	<br/>
		<ul style="text-align: center; list-style: none;">
			<li class="service_li">New Deck Construction or Resurfacing</li>
			<li class="service_li">Door Installation</li>
			<li class="service_li">Flooring Services</li>
			<li class="service_li">General Contracting</li>
			<li class="service_li">Home Addition</li>
			<li class="service_li">Painting</li>
			<li class="service_li">Patio Cover Installation</li>
			<li class="service_li">Pergola Installation</li>
			<li class="service_li">Remodeling</li>
			<li class="service_li">Siding Installation</li>
			<li class="service_li">Siding Repair</li>
			<li class="service_li">Skylight Installation</li>
			<li class="service_li">Sunroom Installation</li>
			<li class="service_li">Window Installation</li>
		</ul>
	</md-card>
</md-content>