<h1 layout="row" layout-align="center center" layout-padding style="margin: auto;">Services</h1>

<md-content layout="row" layout-align="center center" layout-padding>
	<img ng-src="images/homeimage2.jpg">
</md-content>

<md-content layout="row" layout-align="center center" layout-padding>
	<md-card layout="row" layout-align="center center" layout-padding>
	<span></span>
	<br/>
		<ul>
		<h1 layout="row">Services</h1>
			<li>New Deck Construction or Resurfacing</li>
			<li>Door Installation</li>
			<li>Flooring Services</li>
			<li>General Contracting</li>
			<li>Home Addition</li>
			<li>Painting</li>
			<li>Patio Cover Installation</li>
			<li>Pergola Installation</li>
			<li>Remodeling</li>
			<li>Siding Installation</li>
			<li>Siding Repair</li>
			<li>Skylight Installation</li>
			<li>Sunroom Installation</li>
			<li>Window Installation</li>
		</ul>
	</md-card>
</md-content>