<h1 layout="row" layout-align="center center" layout-padding style="margin: auto; color: white;">About Us!</h1>

<md-content layout="row" layout-align="center center" layout-padding>
	<img ng-src="images/homeimage1.jpg">
</md-content>

<md-content layout="row" layout-align="center center" layout-padding class="md-card-content" style="margin: auto; width: 1000px;">

	<md-card layout="row" layout-align="center center" layout-padding>
			<span class="about_text"><span class="about_text">As leading home improvement specialists, we understand the satisfaction that comes from a&nbsp;home you love.&nbsp;&nbsp;Our goal at C&amp;M Renovations, LLC is to provide homeowners with top quality products with unbeatable service to help you&nbsp;save energy, and make your home more comfortable and enjoyable.&nbsp;We are a family owned and operated company and have been in business since 2001.&nbsp;&nbsp;We are fully licensed and insured.&nbsp;<br>We install energy efficient replacement windows, exterior and interior doors,&nbsp;sunrooms, pergolas, patio covers, decks and much more!</span><br>
			<br/>
			Our talented team includes professional installers who are dedicated to bringing you the products&nbsp;you desire. We source the products you desire and install top-of-the-line brands&nbsp;you can count on. We believe you deserve high quality products at prices you can afford.&nbsp; We take great pride in our:
			<ul style="text-align: center; margin-right: 5px; padding: 15px;">
			
				<li class="about_list">Friendly and Courteous Staff</li>

				<li class="about_list">Highly Qualified Installers</li>

				<li class="about_list">Free In-Home Estimates</li>

				<li class="about_list">One Year Labor Warranty</li>

				<li class="about_list">Over 30 Years Experience</li>

				<li class="about_list">Free same day price quotes for Sunrooms, Patio Covers and Pergolas</li>

			</ul>

			<p class="about_text">Your happiness is our priority at C&M Renovations. Our installers strive to provide you comfort through our precise installations.  By listening to your home improvement needs, our team can help you select the right product(s) for your home. In addition, we offer financing to help see your dreams come to fruition. Our team can answer your questions and help plan your exciting new outdoor living space.</p>

			<ul style="text-align: center; margin-right: 5px; padding: 15px;">
			
				<li class="about_list">How much is it?</li>

				<li class="about_list">Which design works best for my home?</li>

				<li class="about_list">What features and options should I choose to customize my outdoor living space?</li>

				<li class="about_list">How long does it take and what is the process?</li>

				<li class="about_list">What forms of payment do you accept?</li>

				<li class="about_list">When can you start?</li>

			</ul>
			<p class="about_text">We can increase curb appeal and expand your outdoor living space without breaking the bank!  It’s time to give your house a dream makeover at an affordable price!</p>
			<!-- <md-button class="md-raised md-primary contact_home" layout-align="center center" layout="row" flex>Contact Us</md-button> -->
			</span>


	</md-card>

</md-content>